
/* Hover state input box background */
input:hover{
	background: rgba(0, 0, 255, 0.3)
}

/* submit button formatting */
input[type="submit"]{
    width:40%;
    margin: 5% 30% 0% 30%;

}

input{
    width: 100%;
    box-sizing: border-box;
    border: 1.5px solid red;
    padding: 5px 5px 5px 10px;
    margin: 0 0 0 0;
    background-color: white;
    border-radius: 4px;
    font-size: 16px;
}

label{
    font-size: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    color: #564040;
    padding: 5px 0 5px 10px;

}

input, label {
    display:block;
}



form{
    margin-left:30%;
    margin-right:30%;
}
