/*header which is also parent of h1, */

header {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -1em;
  background: rgba(0,0,0,0.3);
      }


h1 {
  display:flex;
  flex-direction:column;
    }

/* seperated h3 so could format seperately*/
h2 {
  display:flex;
  justify-content: center;
  align-items:center;
  padding-bottom: 2em;
    }

/* have put background image here in the body*/

body {
  background:#FFFF
    }

/* First container for the main form */
.cover{
  display:flex;
  justify-content: center;
  align-items:center;
        }

/* formating for the transparent black box around the form */
.box {
  display:flex;
  width: 30em;
  justify-content: center;
  background: rgba(5,0,0,0.3);
      }

label {
padding-top: 0.3em;
margin-top:0.5em;
padding-bottom: 0.1em;
}
/* static state input box background */
input {
	margin-top:0.5em;
	background: rgba(0,0,0,0.1);
}

/* Hover state input box background */
input:hover{
background: rgba(0, 0, 255, 0.3)
}

input[type=submit]{
	font-size: 1.2em;
	margin-top:1em;
  margin-bottom:1em;
	justify-content: center;
	align-items: center;
}


/* form formatting */
.flex-form1 {
  display: flex;
	flex-direction: column;
  font-size: 2em;
  border-radius: 0.5em;
	padding-left:1em;
            }

/* ==== media queries ====================================================== */
/* ==== apply these extra styles if the viewport is <=825px wide */
@media only screen and (max-width: 825px) {
	#container {
		width: 90%;
	}
	#main {
		width: 65%;
	}
	#secondary {
		width: 20%;
	}
	article {
		float: left;
		width: 90%;
	}

/* ==== apply these extra styles if the viewport is <=625px wide */
@media only screen and (max-width: 625px) {
	#container {
		width: 85%;
	}
	#secondary {
		width: 95%;
	}
	#main {
		width: 95%;
	}
}

/* ==== apply these extra styles if the viewport is <=400px wide */
@media only screen and (max-width: 400px) {
	#container {
		width: 95%;
	}
